<li>
  <span class="content">
    <ul>
      <li>Bedrooms: <%= listing.title %></li>
      <li>Bedrooms: <%= listing.bedrooms %></li>
      <li>Bedrooms: <%= listing.cost %></li>
      <li>Bedrooms: <%= listing.respond_email %></li>
      <li>Bedrooms: <%= listing.url %></li>
    </ul>
  </span>
</li>