<li>
  <span class="content">
    <ul>
      <li>City:         <%= housing_preference.city.name %></li>
      <li>Neighborhood: <%= housing_preference.city.neighborhoods[housing_preference.neighborhood] unless housing_preference.neighborhood.nil? %></li>
      <li>Housing Type: <%= housing_preference.housing_type %></li>
      <li>Bedrooms:     <%= housing_preference.bedrooms %></li>
      <li>Bathrooms:    <%= housing_preference.bathrooms %></li>
      <li>Minimum Rent: <%= housing_preference.min_rent %></li>
      <li>Maximum Rent: <%= housing_preference.max_rent %></li>
      <%= link_to "Edit", edit_housing_preference_path(housing_preference) %>
      |
      <%= link_to "Delete", housing_preference, method: :delete,
                                     data: { confirm: "You sure?" } %>
    </ul>
  </span>
</li>