<li>
  <span class="content">
    <ul>
      <li>City:         <%= housing_preference.city.name %></li>
      <li>Neighborhood: <%= housing_preference.neighborhood %></li>
      <li>Housing Type: <%= housing_preference.housing_type %></li>
      <li>Bedrooms:     <%= housing_preference.bedrooms %></li>
      <li>Bathrooms:    <%= housing_preference.bathrooms %></li>
      <li>Minimum Rent: <%= housing_preference.min_rent %></li>
      <li>Maximum Rent: <%= housing_preference.max_rent %></li>
    </ul>
  </span>
</li>