<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <div id="toggle_active_form_container">
        <%= render 'toggle_active_form' %>
      </div>
    </section>
  </aside>
  <div class="span8">
    <% if @user.housing_preferences.any? %>
      <h3>Housing Preferences (<%= @user.housing_preferences.count %>)</h3>
      <ol class="housing_preferences">
        <%= render @housing_preferences %>
      </ol>
    <% end %>
    <% if @user.housing_preferences.count < 3 %>
      <%= link_to "Create a new housing preference", new_housing_preference_path %>
    <% end %>
  </div>
</div>